.single-comment{
    border: 5px solid !important;
    border-image: linear-gradient(90deg, rgb(81, 149, 238), cyan, rgb(221, 15, 248)) !important;
    border-image-slice: 1 !important;
    margin-top: 60px;
  }
  .commenter-pic{
    margin-top: -50px !important;
    height: 100px;
  }
  .commenter-pic img{
    height: 100%;
    border-radius: 50%;
    border: 3px solid  #fc65fc;
    box-shadow: rgb(221, 15, 248) 0px 0px 15px;
  }
  .comment-quote{
    margin-top: 20px;
    text-align: justify;
  }